<h1>
  {{ userId ? 'Edit user' : 'Add user' }}
</h1>

<form (ngSubmit)="insertUser()" [formGroup]="form">
  <input [formControl]="form.controls.firstName" placeholder="firstName"/>
  <input [formControl]="form.controls.lastName" placeholder="lastName"/>
  <input [formControl]="form.controls.email" placeholder="email"/>
  <input [formControl]="form.controls.nip" placeholder="nip"/>
  <input [formControl]="form.controls.pesel" placeholder="pesel"/>
  <input [formControl]="form.controls.password" placeholder="password"/>
  <input [formControl]="form.controls.phone.controls.prefix" placeholder="prefix"/>
  <input [formControl]="form.controls.phone.controls.number" placeholder="number"/>
  <input [formControl]="form.controls.addresses.at(0).controls.city" placeholder="city"/>
  <input [formControl]="form.controls.addresses.at(0).controls.street" placeholder="street"/>
  <button>
    {{ userId ? 'Edit user' : 'Add user' }}
  </button>
</form>
