<h1>Categories List:</h1>

<ul>
  <li *ngFor="let category of (categoryPage$ | async)?.content">
    <a [routerLink]="'/category/'+category.id">{{ category.name }}</a>
    <!--    <a routerLink="/category/{{category.id}}">{{ category.name }}</a>-->
  </li>
</ul>
