<p>User Details:</p>

<div *ngIf="user$ | async as user">
  <div>{{ user.id }}</div>
  <div>{{ user.email }}</div>
  <div>{{ user.firstName }} {{ user.lastName }}</div>
  <div>{{ user.nip }}</div>
  <div>{{ user.role }}</div>
  <div>{{ user.phone.prefix }} {{ user.phone.number }}</div>
  <div *ngFor="let address of user.addresses">
    <div>{{ address.street }}, {{ address.city }}</div>
  </div>
</div>
