<a routerLink="/categories">Categories</a>
|
<a routerLink="/products">Products</a>
|
<a routerLink="/login">Login</a>
|
<a routerLink="/add-user">Add user</a>
|
<a *ngIf="isLogged$ | async" routerLink="/users">Users</a>

<router-outlet/>
