<h1>User List:</h1>

<ul>
  <li *ngFor="let user of (users$ | async)?.content">
    <a [routerLink]="['/user', user.id]">{{ user.id }}, {{ user.firstName }} {{ user.lastName }}, {{ user.email }}</a>
    <button (click)="deleteUser(user.id)">x</button>
    <a [routerLink]="['/edit-user', user.id]">edytuj</a>
  </li>
</ul>
