<p>Product Details:</p>

<div *ngIf="product$ | async as product">
  <div>{{ product.id }}</div>
  <div>{{ product.name }}</div>
  <div>{{ product.content }}</div>
  <div>{{ product.price | currency }}</div>
</div>
