<h1>Login</h1>

<button (click)="onClick()" *ngIf="isLogged$ | async; else noLoggedTemplate">Logout</button>

<ng-template #noLoggedTemplate>
  <form
    (ngSubmit)="onSubmit()" [formGroup]="form">
    <input [formControl]="form.controls.username" placeholder="username"/>
    <input [formControl]="form.controls.password" placeholder="password" type="password"/>
    <button>Login</button>
  </form>
</ng-template>
